<% include partials/head.ejs %>

	<div class="content-padding clearfix">
		<div class="poster-wrapper">
			<img src="/images/<%= event.poster %>" alt="<%= event.title %>" class="img-responsive" />
		</div>

		<div class="description-wrapper">
			<div class="description">
				<h2 class="event-header"><%= event.title %></h2>
				<p>
					<%= event.description %>
				</p>
			</div>

			<% if(event.events.length > 0){ %>
			<div class="main-characters">
				<h2 class="event-header">Events</h2>
				<ul>
					<% for (var x = 0; x < event.events.length; x++) { %>
						<li>
							<h4><%= event.events[x].name %></h4> <p><%= event.events[x].description %></p>
						</li>
						<% } %>
				</ul>
			</div>
			<% } %>
		</div>
	</div>


	<% include partials/footer.ejs %>
		<% include partials/scripts.ejs %>
	</body>
  </html>
